<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      {% for my_page in site.pages %}
        {% if my_page.title %}
          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul>
      <li><h3>Follow Me</h3></li>
      {% for social_link in site.data.social %}
      <li><a href="{{ social_link.url }}"><i class="fa fa-{{ social_link.icon }} fa-lg"></i> {{ social_link.username }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <hr>

  <p>© Copyright 2016 Jesse Allen</p>
  <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i> subscribe</a></p>
</footer>
