html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  @include padding(2em 1em 3em 1em);
  @include clearfix;
}

header.page-header {
  @include padding(2em 1em 3em 1em);
  @include clearfix;
  @include background(linear-gradient(5deg, transparentize($secondary-background-color, 1), $secondary-background-color), repeat scroll url($background-texture-light), $secondary-background-color);

  .page-header-content {
    @include outer-container;
    @include clearfix;
    font-size: modular-scale(1)
  }

  h1 {
    @include span-columns(12);
    font-size: modular-scale(2);
    text-align: center;
  }

  p {
    @include span-columns(12);
    font-family: $heading-font-family;
    font-style: italic;
    text-align: center;
  }

  @include media($medium-screen) {
    h1 {
      @include span-columns(4);
      text-align: right;
    }
    p {
      @include span-columns(8);
      text-align: left;
    }
  }

  @include media($large-screen) {
    h1 {
      @include span-columns(2);
    }
    p {
      @include span-columns(10);
    }
  }
}
